<div class="container">
    <div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
<h2>ユーザー</h2>
<% @users.each do |user| %>
<%= link_to user_path(user) do%>
     <h4><strong> <%= user.name %></strong></h4>
     <% end %>
<% end %>
</div>
</div>
</div>
