<div class="container">
    <div class="row">
  <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3">
<h2><%= @user.name %></h2>
<br>
      <h2>スキル・特徴</h2>
      <br>
      <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
      <%= render 'form' %>
  </div>
  </div>
  <br>
  <br>
  <div id = "get_skill">
      <%= render partial: 'users/get_skill', locals: { user: @user} %>
  </div>
  </div>
  </div>
    </div>
